<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/gp.css">
    <script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
    <title>有+</title>
    <style>
        .login-container{
           background:url(/static/images/main04.jpg) no-repeat;
           background-size:100%;
           background-position:100% 30%;
        }
    </style>
    <script>
    </script>
</head>
<body>
    <div class="container">
        <div class="content">
             <div class="login-container" id="login-container">
                <div class="login">
                    <div class="close">
                    </div>
                    <form method = 'post' enctype="multipart/form-data" class="form-login">
                        <ul>
                            <li>
                                <input type="text" class="" placeholder="用户名" name="adminun" autocomplete="off">
                            </li>
                            <li>
                                <input type="password" class="" placeholder="密码" name="adminpw" autocomplete="off">
                            </li>
                            <li>
                                <button>登录</button>
                            </li>
                        </ul>
                    </form>
                    <div class="hr"></div>
                    <p>只限<a>有+</a>管理员登录</p>
                </div>
             </div>
        </div>
    </div>
</body>
</html>